/build/
!gradle/wrapper/gradle-wrapper.jar

out/

*.lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.gradle/3.5.1/file-changes/last-build.bin
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
